<main>
  <section class="photo">
    <%= image_tag("Cities3.jpeg") %>
  </section>
  <section class="users">
    <h1>New Event</h1>
    <%= render 'form', event: @event %>
    <%= link_to 'Back', events_path %>
  </section>
</main>